:root {
    --nest-background-color: #cccccc;
}

:local .stage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nest-background-color);
    z-index: 100;
    overflow: hidden;
    margin: 0px;
}

:local .component {
    position: absolute;
    background-color: var(--nest-background-color);
    min-width: 10px;
    min-height: 10px;
    overflow: hidden;
}

:local .interactionLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    overflow: hidden;
    margin: 0px;
    /* pointer-events:none; */
}