:local .stage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1d25;
    z-index: 100;
    overflow: hidden;
    margin: 4x;
}

:local .component {
    position: absolute;
    background-color: #282b38;
    min-width: 10px;
    min-height: 10px;
    overflow: hidden;
}

:local .interactionLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    overflow: hidden;
    margin: 55px;
    /* pointer-events:none; */
}